.neuMorpItem {
    background: #131419;
    border: none;
    border-radius: 50px;
    box-shadow: -2px -2px 7px rgba(255, 255, 255, 0.05),
        4px 4px 7px rgba(0, 0, 0, 0.5);

    i {
        color: rgb(154, 154, 154);

        &:hover {
            color: rgb(69, 68, 68);

        }
    }
}

//   .neuMorpItem i {
//     color: rgb(154, 154, 154);
//   }

// .neuMorpItem i:hover {
//     color: rgb(69, 68, 68);
// }